<div class="popup popup_type_avatar">
  <div class="popup__popup-container">
    <button
      class="popup__close-icon popup__close-icon_type_add"
      type="button"
    ></button>
    <form class="form form-type-avatar" novalidate>
      <h2 class="form__heading">Обновить аватар</h2>
      <div class="form__input-container">
        <input
          type="url"
          class="form__item form__avatar-link"
          placeholder="Ссылка"
          name="link"
          id="avatar"
          minlength="2"
          required
        />
        <span id="avatar-error" class="input-error"></span>
      </div>
      <button class="popup__save-btn" type="submit">
        Сохранить
      </button>
    </form>
  </div>
</div>
<div class="popup popup_type_edit">
  <div class="popup__popup-container">
    <button
      class="popup__close-icon popup__close-icon_type_edit"
      type="button"
    ></button>
    <form class="form form-type-edit" novalidate>
      <h2 class="form__heading">Редактировать профиль</h2>
      <div class="form__input-container">
        <input
          type="text"
          class="form__item form__item_el_name"
          placeholder="Введите имя"
          name="name"
          id="name"
          required
          minlength="2"
          maxlength="40"
        />

        <span id="name-error" class="input-error"></span>
      </div>
      <div class="form__input-container">
        <input
          type="text"
          class="form__item form__item_el_job"
          placeholder="Введите деятельность"
          name="job"
          id="job"
          required
          minlength="2"
          maxlength="200"
        />
        <span id="job-error" class="input-error"></span>
      </div>
      <button class="popup__save-btn" type="submit">
        Сохранить
      </button>
    </form>
  </div>
</div>
<div class="popup popup_type_new-place">popup_type_new-place
  <div class="popup__popup-container">
    <button
      class="popup__close-icon popup__close-icon_type_add"
      type="button"
    ></button>
    <form class="form form-type-add" novalidate>
      <h2 class="form__heading">Новое место</h2>
      <div class="form__input-container">
        <input
          type="text"
          class="form__item form__item_el_title"
          placeholder="Название"
          name="name"
          id="title"
          minlength="2"
          maxlength="30"
          required
        />
        <span id="title-error" class="input-error"></span>
      </div>
      <div class="form__input-container">
        <input
          type="url"
          class="form__item form__item_el_link"
          placeholder="Ссылка на картинку"
          name="link"
          id="link"
          required
        />
        <span id="link-error" class="input-error"></span>
      </div>
      <button class="popup__save-btn" type="submit">
        Создать
      </button>
    </form>
  </div>
</div>

<div class="popup popup_type_delete-card">
  <div class="popup__popup-container">
    <button
      class="popup__close-icon"
      type="button"
    ></button>
    <form class="form form__delete-card">
      <h2 class="form__heading form__heading_delete">exz</h2>
        <children></children>
      <button
          class="popup__save-btn"
          type="submit"
      >
       exz
      </button>
    </form>
  </div>
</div>
  <div class="popup" >
    <div class="popup__popup-container">
      <button
        class="popup__close-icon"
        type="button"
      ></button>
      <form class="form">
        <h2 class="form__heading">Новое место</h2>
        <input>
        <span></span>
        <botton class="popup__save-btn">example</botton>
      </form>
    </div>
  </div>
  <div class="popup popup_type_new-place">
    <div class="popup__popup-container">
      <button
        class="popup__close-icon"
        type="button"
      ></button>
      <h2 class="form__heading">Новое место</h2>
      <form class="form form-type-add" novalidate>
          <input
            type="text"
            class="form__item form__item_el_title"
            placeholder="Название"
            name="name"
            id="title"
            minlength="2"
            maxlength="30"
            required
          />
          <span id="title-error" class="input-error"></span>
        
          <input
            type="url"
            class="form__item form__item_el_link"
            placeholder="Ссылка на картинку"
            name="link"
            id="link"
            required
          />
          <span id="link-error" class="input-error"></span>
        
        <button class="popup__save-btn" type="submit">
          Создать
        </button>
      </form>
    </div>
  </div>
 